// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";


body {
  padding-top: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

table, td, tr {
  border: 2px solid lightgray;
  border-spacing: 20px;
  margin: 10px 10px 10px 10px;
}

.newlink:hover {
  color: darkblue;
  background-color: white;
}
